<footer class="text-center text-danger">
    <div class="container">
        <div class="row">
            <b>&copy; 2015 Shawn Scott - {{ Application.Name }}</b>
            <span class="dropup pull-right" dropdown on-toggle="toggled(open)" ng-controller="ThemeController">
                <button class="btn btn-sm btn-danger dropdown-toggle" dropdown-toggle>
                    Theme Selector
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="theme in Themes" ng-class="{active: theme == CurrentTheme}">
                        <a href="#/" ng-click="ChangeTheme(theme.ID);">{{theme.Name}}</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</footer>